.Footer {
  padding: 40px 195px;
}

.infoColumn {
  width: 320px;
}

.exploreColumn {
  width: 240px;
}

.icon {
  fill: var(--caption-text-color);
  stroke: none;
}

.copyright {
  padding-top: 20px;
  border-top: 1px solid var(--caption-text-color);
}