.SubscribeForm {
  overflow: hidden;
  background: white;
  border-radius: var(--standard-border-radius);
  display: flex;
  align-items: center;
}

.input {
  height: 22px;
  margin-left: 20px;
  outline: none;
  color: var(--bg-color)
}